*.wasm
*.d
*.o
*~
formulate.html
formulate.js
formulate.wast
material-icons.css
MaterialIcons-Regular.*
Roboto/*
pdfium/*
skia/*
depot_tools/*
emsdk/*
node_modules/*
usr/*
dist/*
quill/*
favicon.*
testobjs/*
libgtest.a
.git.*