.menubar {
    border: 0px solid #ff0000;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    cursor: default;
    display: inline-block;
}

.rootmenuitem {
    display: inline-block;
    position: relative;
    padding: 5px;
    border: 0px solid #000000;
}

.rootmenuitem:hover {
    background-color: #f3f3f3;
}

.rootmenuitemactive {
    background-color: #f3f3f3;
}

.submenucontainer {
    display: none;
    position: absolute;
    top: 25px;
    left: 0px;
    padding: 5px 0px 5px 0px;
    background-color: #ffffff;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 100;
}

.subsubmenucontainer {
    display: none;
    position: absolute;
    top: -5px;
    left: 165px;
    padding: 5px 0px 5px 0px;
    background-color: #ffffff;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.menuitem {
    padding: 5px 10px 5px 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    white-space: nowrap;
}

.menuitem:hover {
    background-color: #f3f3f3;
}

.menuiteminactive {
    color: rgba(0, 0, 0, 0.26);
}

.menuiteminactive:hover {
    background-color: #ffffff;
}

.menuitemname {
}

.menuitemright {
    color: #808080;
    font-weight: bold;
    font-size: 13px;
    padding-top: 2px;
}

/* We want to have some spacing between left and right parts of the menu,
 * but if the right side is empty, we don't need the spacing.
 */
.menuitemright:not(:empty) {
    padding-left: 20px;
}

.menuitemright-arrow {
    color: #404040;
    padding-top: 0;
}

.menuiteminactive > .menuitemright {
    color: rgba(0, 0, 0, 0.26);
}

.menuspacer {
    height: 1px;
    margin: 3px;
    background-color: #e0e0e0;
    width: calc(100% - 6px);
}

#mybutton {
    margin-top: 200px;
}

#tb-dropdown-font {
    width: 80px;
}

.menu-labelbox {
    display: inline-flex;
}

.menu-labelbox-label {
    width: 52px;
    overflow: hidden;
    margin-top: 9px;
}

.menu-labelbox-arrow {
    margin-top: 3px;
}

.menu-dropdown-container {
    left: -10px;
}
