@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url(Roboto/Roboto-Regular.woff2) format('woff2'),
       url(Roboto/Roboto-Regular.woff) format('woff'),
       url(Roboto/Roboto-Regular.ttf) format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#filename {
  font-size: 24px;
  margin: 10px 0 0 10px;
  display: none;
}

#menubar {
  margin: 5px 0 0 5px;
}

#outer {
  width: 100%;
  height: calc(100% - 81px);
  top: 81px;
  position: absolute;
  left: 0px;
  overflow: auto;
  border: 0px solid #f00;
  z-index: 10;
}

#inner {
  width: 3000px;
  height: 3000px;
  border: 0px solid #f00;
  /*overflow: hidden;*/
  display: block;
}

#container {
  display: block;
  border: 0px solid #0f0;
}

#content {
  position: relative;
  user-select: none;
  width: 200px;
  height: 200px;
  display: block;
}

canvas {
  border: 0px solid #00f;
  width: 100%;
  height: calc(100% - 81px);
  top: 81px;
  position: absolute;
  left: 0px;
  display: block;
  z-index: 2;
}