body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#welcome-message {
  left: 10px;
  top: 10px;
  position: absolute;
  width: 200px;
}

#menubar {
  margin: 5px 0 0 5px;
}

#flex-main {
  flex-grow: 1;
  position: relative;
  --thumb-width: 100px;
  --thumb-resize-width: 6px;
}

#thumb-view {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--thumb-width);
}

#thumb-canvas {
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  display: block;
  z-index: 2;
}

#thumb-scroll-outer {
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  display: flex;

  overflow: auto;
  z-index: 10;
}

#thumb-scroll-inner {
  width: 3000px;
  height: 3000px;
  display: block;
}

#thumb-resize {
  position: absolute;
  left: var(--thumb-width);
  top: 0;
  bottom: 0;
  width: var(--thumb-resize-width);
  background: rgb(126,126,126);
  background: linear-gradient(90deg, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 23%, rgba(94,94,94,1) 100%);
  cursor: ew-resize;
}

#main-view {
  position: absolute;
  left: calc(var(--thumb-width) + var(--thumb-resize-width));
  top: 0;
  bottom: 0;
  right: 0;
}

#main-canvas {
  border: 0px solid #00f;
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  display: block;
  z-index: 2;
}

#main-scroll-outer {
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  display: flex;

  overflow: auto;
  z-index: 10;
}

#main-scroll-inner {
  width: 3000px;
  height: 3000px;
  display: block;
  touch-action: none;
  margin: auto;
  position: relative;
}

#file-input {
  display: none;
}

.texteditor {
  position: absolute;
  z-index: 15;
  width: 1000px;
  transform-origin: top left;
  /*transform-origin: 5px 5px;*/
  /*overflow: hidden;*/
  outline: none;
  border: none;
  resize: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.ql-editor {
  line-height: unset;
  padding: 2px;
  font-family: "Arimo", Helvetica, Arial, "Noto Sans CJK TC", sans-serif;
  font-size: 13px;
}
