.toolbar {
    margin-top: 5px;
    padding: 5px 0 5px 30px;
    cursor: default;
    border-top: 1px solid rgb(218, 220, 224);
    border-bottom: 1px solid rgb(218, 220, 224);
    user-select: none;
}

.toolbar-button {
    color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    margin-right: 2px;
    display: inline-block;
}

.toolbar-button-enabled {
    color: rgba(0, 0, 0, 1);
}

.toolbar-button-enabled:hover {
    background-color: rgba(0, 0, 0, 0.06);
}
