.toolbar {
    margin-top: 5px;
    padding: 5px 0 5px 30px;
    cursor: default;
    border-top: 1px solid rgb(218, 220, 224);
    border-bottom: 1px solid rgb(218, 220, 224);
    user-select: none;
}

.toolbar-button {
    color: rgba(0, 0, 0, 0.5);
    fill: rgba(0, 0, 0, 0.5);
    padding: 3px;
    margin-right: 2px;
    display: inline-block;
}

.toolbar-button-enabled {
    color: rgba(0, 0, 0, 1);
    fill: rgba(0, 0, 0, 1);
}

.toolbar-button-enabled:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.toolbar-divider {
    background-color: rgba(0, 0, 0, 0.2);
    width: 1px;
    height: 20px;
    margin: 0px;
    display: inline-block;
}

#tb-tool-arrow {
    width: 24px;
    height: 24px;
}

.toolbar-selected {
    color: rgba(0, 0, 0, 1);
    fill: rgba(0, 0, 0, 1);
    background-color: rgb(232, 240, 254);
}

.toolbar-menu {
    color: rgba(0, 0, 0, 1);
    fill: rgba(0, 0, 0, 1);
    padding: 0;
    margin-right: 2px;
    margin-left: 7px;
    display: inline-flex;
    vertical-align: top;
    font-size: 12px;
    width: 60px;
    position: relative;
    flex-direction: column;
}

